<h2>Search Results</h2>
<ul>
  <% @results[:items].each do |book| %>
    <li>
      Title: <%= book[:volumeInfo][:title] %> Authors: <%= book[:volumeInfo][:authors].join(", ") %>
    </li>
    <li><%= button_to "Add", shelves_path, params: { title: book[:volumeInfo][:title], author: book[:volumeInfo][:authors].join(", ") } %></li>
  <% end %>
</ul>
